!! sayo colorscheme

*.foreground: #bebebe
*.background: #2a2a2a

! black
*.color0: #2a2a2a
*.color8: #3a3a3a

! red
*.color1: #627a8a
*.color9: #627a8a

! green
*.color2: #aa8f7c
*.color10: #aa8f7c

! yellow
*.color3: #8b8f7e
*.color11: #8b8f7e

! blue
*.color4: #987a6b
*.color12: #987a6b

! magenta
*.color5: #877979
*.color13: #877979

! cyan
*.color6: #937f74
*.color14: #937f74

! white
*.color7: #bebebe
*.color15: #bebebe
